@tailwind base;
@tailwind components;
@tailwind utilities;

/* footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 90%;
    height: 10%;
    margin: 0 auto;
} */

body{
    background-image: linear-gradient(to bottom, 
        rgba(245, 246, 252, 0.52),
        rgba(86, 201, 255, 0.514) ),
        url('./assets/images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;    
}
/* .foto {
    display: flex;
    height: 70%;
    align-items: center;
    background-color: brown;
} */

.foto {
    height: 70%;
    border-radius: 50%;
    -webkit-box-shadow: 16px 18px 26px -7px rgba(161,169,255,0.7);
    -moz-box-shadow: 16px 18px 26px -7px rgba(161,169,255,0.7);
    box-shadow: 16px 18px 26px -7px rgba(161,169,255,0.7);
}

@layer utilities {
    .page{
        display: flex;
        flex-direction: column;
        width: 90vw;
        min-height: 100vh;
        margin: 0 auto;
        justify-content: space-between;
        /* background-color: #999; */
    }
    .social-icon {
        width: 40px;
        height: 40px;
        margin: 10px;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        /* background-color: #880; */
        overflow: auto;
    }
    /* .container-exp{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color: #901;
        overflow: auto;
    } */
}
@layer components {
    .footer {
     @apply flex items-center justify-center pb-1 pt-1
    }
}

@media (min-width: 768px) {
    
    .foto {
        width: 50%;
        height: 50%;
    }
}